<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="/options/parametres">Paramètres</a></li>
		  <li><a href="/options/sauvegardes">Sauvegardes</a></li>
		</ul>
	</div>
	<div class="span9">
		<h1>Parametres#index</h1>
		<p>Find me in app/views/options/index.html.erb</p>
	</div>
</div><!-- end of row fluid -->

