<div>
	<%= f.label :title, "Titre", :class => 'required' %>
	<%= f.text_field :title, :class => 'input-xxlarge' %>
</div>
<div>
	<%= f.label :price, "Prix", :class => 'required' %>
	<%= f.text_field :price, :class => 'input-medium' %>
</div>