<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to 'Paramètres', prive_options_parametres_url %></li>
		  <li class="active"><%= link_to 'Sauvegardes', prive_options_sauvegardes_url %></li>
		</ul>
	</div>
	<div class="span9">
		<h1>Sauvegardes</h1>
		<p>Cliquez sur le bouton "Exporter" afin de télécharger l'ensemble de des données clients au format CSV.</p>
		<p>
			<%= link_to "Exporter", export_prive_options_sauvegardes_path, :class => 'btn btn-primary' %>
		</p>
	</div>
</div><!-- end of row fluid -->