<h1>Sauvegardes</h1>
<p>Cliquez sur le bouton "Exporter" afin de télécharger l'ensemble de des données clients au format CSV.</p>
<p>
	<%= link_to "Exporter", export_prive_options_sauvegardes_path, :class => 'btn btn-primary' %>
</p>