<h1>Nouvelle facture</h1>

<%= form_for [:prive, @facture], :html => { :class => 'form-vertical' } do |f| %>

<%= render "form", :f => f %>

<div style="clear:both">
	<%= f.submit "Ajouter", class: 'btn' %>
	<%= link_to "annuler", prive_client_path(@client) %>
</div>
	
<% end %>
