<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/options/parametres">Paramètres</a></li>
		  <li class="active"><a href="/options/sauvegardes">Sauvegardes</a></li>
		</ul>
	</div>
	<div class="span9">
		<h1>Sauvegardes</h1>
		<p>
			<%= link_to "Exporter", export_options_sauvegardes_path, :class => 'btn btn-primary' %>
		</p>
	</div>
</div><!-- end of row fluid -->