/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= depend_on "reset"
 *= depend_on "colors"
 *= depend_on "font"
 *= depend_on "form"
 *= depend_on "layout"
 *= depend_on "clients"
 *= require_self
*/

//@import "reset.css.scss";
//@import "bourbon";
@import "bootstrap";
//@import "colors.css.scss";
//@import "font.css.scss";
//@import "form.css.scss";
//@import 'layout.css.scss';
//@import "clients.css.scss";

h1 { font-size: 218%; margin-top:0em; margin-bottom:0.643em; }
h2 { font-size: 164%; margin-top:1.929em; margin-bottom:0.643em; }
h3 { font-size: 145%; margin-top:1.929em; margin-bottom:0.643em; }
h4 { font-size: 118%; margin-top:1.929em; margin-bottom:0.643em; }

form {
  label { font-weight:bold; }
  label.required em { color:red; font-weight:bold; font-style:normal; margin-left:5px; }
  #error_explanation { clear:both; }
  #error_explanation p { color:red; font-weight:bold; }
  #error_explanation ul { margin:0 0 15px 0; padding:0; list-style:none; }
  #error_explanation ul li { margin:0; color:red; font-weight:bold; }
  .instruct { font-size:0.85em; color:#AAA; font-style:italic; }
}