/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "bootstrap";
@import "merrymenu";
@import "photos";
@import "options";
@import "site";
@import "clients";
@import "boutique";
@import "jquery-ui-1.8.18.custom.css";

body { position:relative; }

h1 { font-size: 218%; margin-top:0em; margin-bottom:0.643em; }
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }

form {
  label { font-weight:bold; }
  label.required em { color:red; font-weight:bold; font-style:normal; margin-left:5px; }
  label.checkbox { font-weight:normal; }
  #error_explanation { clear:both; }
  #error_explanation p { color:red; font-weight:bold; }
  #error_explanation ul { margin:0 0 15px 0; padding:0; list-style:none; }
  #error_explanation ul li { margin:0; color:red; font-weight:bold; }
  .instruct { font-size:0.85em; color:#AAA; font-style:italic; }
  div.field_with_errors { 
    display: inline-block; 
    input[type=text] {
      border: 1px solid red;
    }
  }
}



#home .splash {
  margin-top:200px;
  text-align:center;
  h1 {
    margin:50px auto;
    font-size:3em;
  }
}

#login {
  text-align:center;
  margin:0 auto;
  margin-top:200px;
  width:400px;
  #wrapper {text-align: left;}
  form { margin:0; }
}

.nav-list .active > a:hover {
  background-color: #08C;
}

.clear { clear:both; }
