// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clients {
  table {
    width:100%; margin-top:15px;
  }
  
  ul#infos {
    list-style:none; padding:0;
    li { float:left; margin-right:10px; padding:0; margin-left:0; }
  }
  
  .search {
    margin-top:15px;
  }
  
  .new_client_button { float:right; }

  
}

#factures {
  position:relative;
  table { 
    clear:both;
    span.price { float:right; text-align:right; }
    th.currency, td.currency { text-align:right }
  }

  #factures-period-controls {
    clear:both;
    float:left; width:100%; margin-bottom:15px;
    #factures-period-controls-left { float:left; }
    #factures-period-controls-right { float:right; }

    #factures-period-date { 
      display:inline-block; line-height:28px; font-size:120%; margin-left:4px;
      a.factures-period-date-today, span.factures-period-date-text, a.factures-period-date-link { margin-right:8px; }
      a.factures-period-date-link { font-weight:normal; font-size:120%; padding-top:0; line-height:22px; }
    } 
    #factures-period-selector { float:right; } 
    #factures-actions { float:left; line-height:28px; margin-right:16px; }
  }

}

#facture {
  .item-type-produit { background-color:rgba(81, 163, 81, 0.8); padding:5px 5px 0px 5px; margin:2px 0; float:left; clear:both; }
  .item-type-service { background-color:rgba(248, 148, 6, 0.8); padding:5px 5px 0px 5px; margin:2px 0; float:left; clear:both; }
  #add-items { clear:both; float:left; width:100%; margin-top:5px; }
  a.remove_fields { color:#FFF; }
  a:hover.remove_fields { color:#FFF; }
}

