form {
  text-align:left;
  padding:0;
  margin:0;
  
  #error_explanation { clear:both; }
  #error_explanation p { color:red; font-weight:bold; }
  #error_explanation ul { margin:0 0 15px 0; padding:0; list-style:none; }
  #error_explanation ul li { margin:0; color:red; font-weight:bold; }
  div.field_with_errors { margin:0; padding:0; }
  div.field_with_errors { display:inline; }
  
  input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }

  input, textarea, select {
    *font-size: 100%; }

  div { 
    margin:0; padding:0;
    margin-bottom:15px;
    
    label {
      margin:0;padding:0;
      font-weight:bold;
      font-size:95%;
      line-height:150%;
      margin:0;padding:0;
      border:medium none;
    }
    label.desc {
      display:block;
    }
    
    input.text, textarea.text {
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      padding: 4px;
      margin:0;
    }
    textarea { resize:vertical; }
    
    fieldset { border:none; background:#A0ECB5; margin-bottom:10px; }
    
    .instruct { font-size:0.85em; color:#AAA; font-style:italic; margin-top:0; }
    
    .disabled { background-color:#EEE; color:#666; font-style:italic; }
  } // end of ul
  
  div.two-fields {
    p { float: left; margin-bottom:15px; margin-right:10px; }
  }
  
}