#facebooks {
  h4 { margin:1.5em 0 0.5em 0;}
  
  .facebook-user-box, .facebook-page, .page {
    .picture { float:left; 
      img { padding:2px; border:1px solid #CCC; background-color:#FFF; }
    }
    .infos { 
      .name { font-size:1.1em; }
      float:left; margin-left:10px; 
    }
  }
  
  .facebook-user-box, .facebook-page {
    border:1px solid #CCC; padding:5px 15px 5px 5px; float:left; background-color:#F6F6F6;
    @include border-radius(5px);
  }

  .facebook-pages {
    clear:left; width:100%;
  }

  .page {
    border:1px solid #CCC; float:left; background-color:#F6F6F6;
    @include border-radius(5px);
    width:46%;
    margin-right:2%; margin-bottom:15px; border-bottom:1px solid #666;
    .p { padding:5px; }
    a { float:left; text-decoration:none; color:#333; width:100%; }
    a:hover { background-color:#CCC; }
    .picture { width:26%; max-width:60px;
      img { }
    }
    .infos { width:80%; overflow:hidden; line-height:50px; }
   }
}

