/*
 *= require_self
*/

@import "bootstrap";
@import "font";


.header {
  h1 { font-size:24px; margin:20px 0 30px 0; padding:10px 0; border-bottom:3px solid #EEE; }
}

.info {
  margin-bottom: 15px; 
  h2 { margin-top:0; }
}

.horaires {
  h3 { margin-top:0; }
}

.contact {
  h3 { margin-top:0; }
}

.photos {
  margin-bottom: 15px; 
  img { width:32%; }
  .gutter { width:1%; display:inline-block; }
}

.messages {
  padding:5px 10px;
  background-color:#FCF8E3;
  border:1px solid #FBEED5;
  dl { 
    margin:0; 
    dt { }
    dd { margin:0 0 10px 0; }
  }
}

.tarifs {
  td.price { text-align:right; }
}

.carte {
  margin-top:10px; padding:4px; background-color:#FFF; border:1px solid #CCC;
}

.footer { height:50px; }
