/*
 *= require_self
*/

@import "bootstrap";
@import "font";


.header {
  h1 { font-size:24px; margin:20px 0 30px 0; padding:10px 0; border-bottom:3px solid #EEE; }
}

.info {
  margin-bottom: 15px; 
  h2 { margin-top:0; }
}


.contact {
  h3 { margin-top:0; }
}

.photos {
  margin-bottom: 15px; 
  img { width:33%; }
}

.messages {
  padding:5px 10px;
  background-color:#FCF8E3;
  border:1px solid #FBEED5;
  dl { 
    margin:10px 0 0 0; 
    dt { }
    dd { margin:0 0 10px 0; }
  }
}