#messages {
  .disabled-true {
    color:#CCC;
  }
  .sent { margin-left:10px; color:#C00; font-weight:bold; }
  .todo { margin-left:10px; color:#963; font-weight:normal; font-size:0.85em;}
}

#facebooks {
  .checkbox {
    span { margin-right:15px; }
  }
}

#tarifs {
  tr.tarif_category td { background-color:whiteSmoke; font-weight:bold; }
  tr td.tarif_title { padding-left:15px; }
}
