<%= render "/shared/error_messages", :target => @category_facture %>
<div>
	<%= f.label :name, "Nom de la catégorie", :class => 'desc required' %>
	<%= f.text_field :name, :class => 'input-large' %>
</div>
